.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-header-container__logo {
  text-decoration: none;
  list-style: none;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-header-container__button {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: var(--title);
  border: none;
  &:hover,
  &:focus {
    fill: var(--logo);
  }
}

// .nav-menu-list {
//   display: flex;
//   align-items: center;
//   text-decoration: none;
//   list-style: none;
//   /* padding-top: 32px;
//   padding-bottom: 32px; */
// }

// .header-right {
//   margin-left: auto;
//   display: flex;
//   align-items: center;
//   text-decoration: none;
//   list-style: none;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .nav-contact-list {
//   padding-right: 50px;
// }

.tt-decor {
  text-decoration: none;
  list-style: none;
}

.logo-second {
  font-family: Raleway;
  color: #000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-first {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.mob-menu {
  width: 100vh;

  background-color: #ffffff;
  position: fixed;
}

.mob-menu__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
}

// .nav-menu-list__item {
//   position: relative;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--text);
//   text-decoration: none;
//   list-style: none;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   transition-duration: var(--time-animation);
//   transition-timing-function: var(--time-animation);
//   &:hover,
//   &:focus {
//     color: var(--logo);
//   }
// }

// .nav-menu-list__link {
//   display: block;
//   position: relative;
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .current::after {
//   position: absolute;
//   display: block;
//   left: 0;
//   bottom: 0;
//   content: "";
//   background-color: var(--logo);
//   border-radius: 2px;
//   width: 100%;
//   height: 4px;
//   transition-duration: var(--time-animation);
//   transition-timing-function: var(--time-animation);
// }

// .link__item-connect {
//   display: flex;
//   flex-direction: row-reverse;
//   align-items: center;
//   color: var(--main-text-color);
//   text-decoration: none;
//   list-style: none;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   transition-duration: var(--time-animation);
//   transition-timing-function: var(--time-animation);
//   &:hover,
//   &:focus {
//     color: var(--logo);
//   }
// }

// .link:not(:last-child) {
//   margin-right: 50px;
// }

// .link__header-icon {
//   fill: currentColor;
//   margin-right: 10px;
//   &:hover,
//   &:focus {
//     fill: currentColor;
//   }
// }
