.header-container {
  display: flex;
  align-items: center;
  @media screen and (min-width: 480px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    justify-content: unset;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    justify-content: unset;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header-container {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.page-header-container__logo {
  text-decoration: none;
  list-style: none;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.nav-menu-list {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    /* padding-top: 32px;
  padding-bottom: 32px; */
  }
}

.header-right {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    text-decoration: none;
    list-style: none;

    // padding-top: 32px;
    // padding-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// .nav-contact-list {
//   padding-right: 50px;
// }

.tt-decor {
  text-decoration: none;
  list-style: none;
}

.logo-second {
  font-family: Raleway;
  color: #000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-first {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav-menu-list__item {
  @media screen and (min-width: 768px) {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text);
    text-decoration: none;
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--time-animation);
    &:hover,
    &:focus {
      color: var(--logo);
    }
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text);
    text-decoration: none;
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--time-animation);
    &:hover,
    &:focus {
      color: var(--logo);
    }
  }
}

.nav-menu-list__link {
  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: block;
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.current::after {
  @media screen and (min-width: 768px) {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    content: "";
    background-color: var(--logo);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--time-animation);
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    content: "";
    background-color: var(--logo);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--time-animation);
  }
}

.link__item-connect {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--main-text-color);
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--time-animation);
    &:hover,
    &:focus {
      color: var(--logo);
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--main-text-color);
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-duration: var(--time-animation);
    transition-timing-function: var(--time-animation);
    &:hover,
    &:focus {
      color: var(--logo);
    }
  }
}

.link:not(:last-child) {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

.link__header-icon {
  @media screen and (min-width: 768px) {
    fill: currentColor;
    margin-right: 10px;
    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
  @media screen and (min-width: 1200px) {
    fill: currentColor;
    margin-right: 10px;
    &:hover,
    &:focus {
      fill: currentColor;
    }
  }
}

.page-header-container__button {
  width: 40px;
  height: 40px;
  background-color: var(--title);
  border: none;
  &:hover,
  &:focus {
    fill: var(--logo);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu {
  width: 100%;
  height: 100%;
  padding: 10px 15px 48px 40px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  // transform: translateX(100%);
}

.mob-menu__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  margin-left: auto;
  display: block;
  &:hover,
  &:focus {
    fill: var(--logo);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu__link {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-down {
  position: absolute;
  bottom: 50px;
}

.mob-menu__nav {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--text);
}

.accent {
  color: var(--logo);
}

.mob-menu__contacts {
  margin-top: 100px;
}

.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu__phone {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--logo);
}

.mob-menu__mail {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.mob-menu-soc {
  display: flex;
  margin-top: 64px;
}

.mob-menu-soc__item {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--logo);
}

.mob-menu-soc__link {
  display: flex;
  align-items: center;
  &:not(:last-child)::after {
    content: "";
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 10px;
    margin-left: 10px;
  }
}
