.header-container {
  display: flex;
  align-items: center;
  // margin-left: auto;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-header-container__logo {
  text-decoration: none;
  list-style: none;
  // margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-header-container__button {
  // margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: var(--title);
  border: none;
  &:hover,
  &:focus {
    fill: var(--logo);
  }
}

// .nav-menu-list {
//   display: flex;
//   align-items: center;
//   text-decoration: none;
//   list-style: none;
//   /* padding-top: 32px;
//   padding-bottom: 32px; */
// }

// .header-right {
//   margin-left: auto;
//   display: flex;
//   align-items: center;
//   text-decoration: none;
//   list-style: none;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

// .nav-contact-list {
//   padding-right: 50px;
// }

.tt-decor {
  text-decoration: none;
  list-style: none;
}

.logo-second {
  font-family: Raleway;
  color: #000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-first {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.mob-menu {
  width: 100%;
  // height: 500px;
  padding: 48px 83px 48px 40px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  // transform: translateX(100%);
}

.mob-menu__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  margin-left: auto;
  display: block;
}

.mob-menu__link {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu__nav {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--text);
}

// .mob-menu__contacts {
//   margin-top: 302px;
// }

.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu__phone {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--logo);
}

.mob-menu__mail {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.mob-menu-soc {
  display: flex;
  margin-top: 64px;
}

.mob-menu-soc__item {
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--logo);
}

.mob-menu-soc__link {
  display: flex;
  align-items: center;
  &:not(:last-child)::after {
    content: "";
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-right: 10px;
    margin-left: 10px;
  }
}

// .nav-menu-list__item {
//   position: relative;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--text);
//   text-decoration: none;
//   list-style: none;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   transition-duration: var(--time-animation);
//   transition-timing-function: var(--time-animation);
//   &:hover,
//   &:focus {
//     color: var(--logo);
//   }
// }

// .nav-menu-list__link {
//   display: block;
//   position: relative;
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .current::after {
//   position: absolute;
//   display: block;
//   left: 0;
//   bottom: 0;
//   content: "";
//   background-color: var(--logo);
//   border-radius: 2px;
//   width: 100%;
//   height: 4px;
//   transition-duration: var(--time-animation);
//   transition-timing-function: var(--time-animation);
// }

// .link__item-connect {
//   display: flex;
//   flex-direction: row-reverse;
//   align-items: center;
//   color: var(--main-text-color);
//   text-decoration: none;
//   list-style: none;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   transition-duration: var(--time-animation);
//   transition-timing-function: var(--time-animation);
//   &:hover,
//   &:focus {
//     color: var(--logo);
//   }
// }

// .link:not(:last-child) {
//   margin-right: 50px;
// }

// .link__header-icon {
//   fill: currentColor;
//   margin-right: 10px;
//   &:hover,
//   &:focus {
//     fill: currentColor;
//   }
// }
