.main-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.btn-second {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: var(--logo);
  }
}

.menu-content {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.menu-nav:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.item-menu {
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text);
  text-decoration: none;
  list-style: none;
  transition-duration: var(--time-animation);
  transition-timing-function: var(--time-animation);
  &:hover,
  &:focus {
    color: var(--title);
  }
}
